//Colors
$black: #000
$dark: #2c3e50
$gray: #eef2f5
$white: #fff
$light: #f4f7f8
    
$primary: #126ef8
$primaryfg: $white
$success: #46c93a
$successfg: $white
$danger: #ff4757
$dangerfg: $white
$warn: #ffba00
$warnfg: $white


//Typography sizes
$tf: 0.64rem // Fineprint
$t0: 0.8rem // Subbody
$t1: 1rem // Body
$t2: 1.25rem // Hyperbody
$t3: 1.563rem // Subtitle
$t4: 1.953rem // Title
$t5: 2.441rem // Subheading
$t6: 3.052rem // Heading
$t7: 3.815rem // Display

//Typography weights
$wf: 100 
$w0: 200 // LIGHT
$w0p: 300 
$w1: 400 // NORMAL
$w1p: 500
$w2: 600 // SEMIBOLD
$w2p: 700
$w3: 800 // BOLD

//Animations
$aspd: 0.15s  //transition speed
$afnc: ease-in-out //transition easing function