@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f7f8;
  font-size: 1rem;
  font-weight: 400;
}

.el.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: calc( 100% - 40px );
  padding: 20px;
  height: 30px;
  background-color: #fff;
  color: #2c3e50;
  font-size: 1rem;
  font-weight: 400;
}
.el.navbar.fixed {
  position: fixed;
}
.el.navbar .left, .el.navbar .center, .el.navbar .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.el.navbar .left .logo svg, .el.navbar .left .logo img {
  height: 30px;
  width: auto;
}
.el.navbar .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.el.navbar .right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10px;
}
.el.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.el.navbar ul li {
  position: relative;
  margin: 0 15px;
  font-weight: 500;
}
.el.navbar ul li a {
  color: #2c3e50;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.el.navbar ul li a::before {
  position: absolute;
  content: "";
  background-color: #2c3e50;
  width: 0%;
  height: 0.25em;
  bottom: -20px;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.el.navbar ul li a.active {
  opacity: 1;
}
.el.navbar ul li a.active::before {
  width: 100%;
}
.el.navbar ul li a:hover {
  opacity: 1;
}
.el.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20vw;
  width: 60%;
  background-color: #eef2f5;
  color: #2c3e50;
}
.el.header .controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 2em;
  top: 1.5em;
}
.el.header .controls div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.5em;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.2em;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.el.header .controls div:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(44, 62, 80, 0.05);
          box-shadow: 0px 3px 10px 2px rgba(44, 62, 80, 0.05);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.el.header .controls div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2c3e50;
  font-size: 1.2em;
  text-decoration: none;
}
.el.header .title h1, .el.header .title h2, .el.header .title h3, .el.header .title h4, .el.header .title h5, .el.header .title h6 {
  font-size: 2.441rem;
  font-weight: 600;
}
.el.header .title .breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2c3e50;
}
.el.header .title .breadcrumbs .crumb {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.el.header .title .breadcrumbs .crumb a {
  color: #2c3e50;
  text-decoration: none;
  font-weight: 600;
}
.el.header .title .breadcrumbs .crumb:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.el.header .title .breadcrumbs i {
  font-style: normal;
  cursor: default;
  opacity: 0.5;
  margin: 0 0.5ex;
}
.el.header .title .breadcrumbs span {
  opacity: 0.5;
  cursor: default;
}
.el.header .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.el.header .actions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.6em;
  width: 2em;
  height: 2em;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.el.header .actions div.separated {
  margin-right: 1.5em;
}
.el.header .actions div:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(44, 62, 80, 0.05);
          box-shadow: 0px 3px 10px 2px rgba(44, 62, 80, 0.05);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.el.header .actions div:hover span::before {
  top: -3px;
}
.el.header .actions div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2c3e50;
  font-size: 1.5em;
  text-decoration: none;
}
.el.header .actions div span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.el.header .actions div span::before {
  content: " ";
  position: absolute;
  right: -1.4em;
  top: -5px;
  height: 145%;
  width: 2px;
  opacity: 0.5;
  background-color: #2c3e50;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}